body{
  background-color: rgb(235, 219, 249);
}


.k_container{
  width: 80%;
  margin: 0 auto;
}

#choice, #number{
  width: 500px;
  margin: 0 auto;
}

.upper{
  text-transform: uppercase;
}

.red {
  color: rgb(234, 71, 22);
}